.homeblog{
    width:100%;
    display: flex;
    flex-direction: column;
    max-width:80%;
    align-self: flex-start;
    margin-left: 5rem;
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}
.homeblog h3{
    font-family: 'Playball', cursive;
    font-size: 2.5rem;

}
.homeblog p{
    font-family: 'open sans';
    max-width: 80%;
}
.homepost{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:100%;
    height:40rem;
    gap:1.5rem;
    margin-top:1rem;
    
}
.homepost article{
    width:100%;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    
}
.backdrop{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    gap: 1rem;
    background-color: rgba(0,0,0,0.5);
    font-family: 'open sans', sans-serif;
}

.homepost button{
    width: 9rem;
    height: 2.5rem;
    font-size: 18px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
}
@media(max-width:1024px){
    .homepost{
      grid-template-columns: 2fr;
      height: 90rem;
      
   }
    .homeblog{
    margin-left: 0;
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   }
}
@media(max-width:768px){
    .homepost{
      grid-template-columns: 1fr;
      height: 90rem;
      
   }
   .homeblog{
    margin-left: 0;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
   }
   .homeblog p{
    font-family: 'open sans';
    max-width: 100%;
}
}

@media(max-width:480px){
    .homepost{
        grid-template-columns: 1fr;
    }
}