.error-message {
    text-align: center;
    background-color: #ffcccc;
    color: #b30000;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
  }
  