.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 0;
    font-family: sans-serif;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links li {
    display: inline;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  :root{
    --secondary-color: #f88c91;
}
  .socials {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .socials a {
    color: #fff;
    font-size: 20px;
    transition: transform 0.2s ease;
  }
  
  .socials a:hover {
    transform: scale(1.01);
    color: var(--secondary-color)
  }
  
