*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    list-style-type: none;
    
}
.herosection{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    background-image: url('herocake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;

}
:root{
    --secondary-color: #f88c91;
}
.herosection button{
    width: 160px;
    height: 45px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--secondary-color);

}
.herosection button a{
color: inherit;
text-decoration: none;
}
.herosection h1{
    text-align: center;
    color: white;
    font-size: 3em;
}
@media(max-width:768px){
    .herosection h1{
        font-size: 2em;
    }
}
