.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 40px;
  background: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top:0;
  width:100%;
  z-index: 100;
  color: #fff;
}

:root{
  --secondary-color: #f88c91;
}
.navbar h2{
  color:#fff;
  color:#fff;
  font-size: 1.3em;
  font-family: playball;
  font-family: playball;
}
.nav-links {
  display: flex;
  gap: 60px;
  color: #fff;
  font-size: 1.2rem;
}
.active{
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.notactive{
  text-decoration: none;
  color: inherit;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart{
  position: relative;
  color: #fff;
}
.cart span{
  position: absolute;
  top:-10px;
  left:10px;
  color: #fff;
  border-radius: 50%;
  width:20px;
  font-size: 14px;
  height:20px;
  padding: 5px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile Styles */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    
  }
 
  

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    gap:10px;
    width: 100%;
    background: #333;
    background: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }

  .nav-links.open {
    display: flex;
    font-family: sans-serif;
  }

  .nav-links li {
   display: block;
   cursor: pointer;
   border-bottom: 1px solid;
   color:#fff;
   color:#fff;
   padding-bottom: 10px;
    font-family: sans-serif;
  }
}
