.not-found {
    text-align: center;
    padding: 50px;
    margin-top: 30px;
  }
  
  .not-found h1 {
    font-size: 2.5rem;
    color: #ff6b6b;
  }
  
  .not-found p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .back-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .back-home:hover {
    background-color: #ff4f4f;
  }
@media(max-width:768px){
     .not-found h1 {
    font-size: 1.5rem;
    color: #ff6b6b;
  }
  
  .not-found p {
    font-size: 1rem;
    color: #555;
  }
}
  
