*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    list-style-type: none;
    
}
html{
    scroll-behavior: smooth;
}
.order-history-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width:100%;
    height: fit-content;
}
.order-history-container h3{
 margin-left: 7px;
 color: orange;
}
.history-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 10px;
    width: 100%;
    background-color:  #f4f4f4;
}
.history-wrapper span{
    font-weight: bold;
    color: #333;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.order-image img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}
.product-info h2{
    font-weight: 600;
    font-size: 1.1rem;
}
.product-info p{
    font-size: 1rem;
    color: #333;
}
@media(max-width:860px){
    .history-wrapper{
     flex-direction: column;
     align-items: flex-start;
     gap: 1rem;
    }
}

